@* --------------------------------------------------------------------*@
@* Warning! This is an auto generated file. Changes may be overwritten *@
@* --------------------------------------------------------------------*@
@using Localization
@using Microsoft.Extensions.Options
@inject LocService SharedLocalizer
@model OnlinePayment.Web.ViewModel.PaymentResponseViewModel

@{
    ViewData["Title"] = @$"{SharedLocalizer.GetLocalizedHtmlString("Create")} {SharedLocalizer.GetLocalizedHtmlString("PaymentResponse")}";
}

<h1>@($"{SharedLocalizer.GetLocalizedHtmlString("Create")} {@SharedLocalizer.GetLocalizedHtmlString("PaymentResponse")}")</h1>

<hr />
<div class="row">
    <div class="col-md">
        <form method="post"  enctype="multipart/form-data" asp-controller="PaymentResponse" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Session" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Session")</label>
                <input name="Session" asp-for="Session" class="form-control" />
                <span asp-validation-for="Session" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Location")</label>
                <input name="Location" asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentResponseReceivedDateTime" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("PaymentResponseReceivedDateTime")</label>
                <input name="PaymentResponseReceivedDateTime" asp-for="PaymentResponseReceivedDateTime" class="form-control" />
                <span asp-validation-for="PaymentResponseReceivedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallbackReceivedDateTime" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("CallbackReceivedDateTime")</label>
                <input name="CallbackReceivedDateTime" asp-for="CallbackReceivedDateTime" class="form-control" />
                <span asp-validation-for="CallbackReceivedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer.GetLocalizedHtmlString("Create")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="PaymentResponse" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
