@* --------------------------------------------------------------------*@
@* Warning! This is an auto generated file. Changes may be overwritten *@
@* --------------------------------------------------------------------*@
@using Localization
@using Microsoft.Extensions.Options
@using OnlinePayment.Logic.Settings
@inject LocService SharedLocalizer
@inject IOptions<ApplicationSettings> applicationSettingsOptions
@model OnlinePayment.Web.ViewModel.PaymentViewModel

@{
    ViewData["Title"] = $"{SharedLocalizer.GetLocalizedHtmlString("Edit")} {SharedLocalizer.GetLocalizedHtmlString("Payment")}";
}

<h1>@($"{SharedLocalizer.GetLocalizedHtmlString("Edit")} {@SharedLocalizer.GetLocalizedHtmlString("Payment")}")</h1>

<hr />
<div class="row">
    <div class="col-md">
        <form method="post"  enctype="multipart/form-data" asp-controller="Payment" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExternalId" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("ExternalId")</label>
                <input asp-for="ExternalId" value="@Model.ExternalId" />
                <span asp-validation-for="ExternalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Session")</label>
                <input asp-for="Session" value="@Model.Session" />
                <span asp-validation-for="Session" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowerNumber" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("BorrowerNumber")</label>
                <input asp-for="BorrowerNumber" value="@Model.BorrowerNumber" />
                <span asp-validation-for="BorrowerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatronName" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("PatronName")</label>
                <input asp-for="PatronName" value="@Model.PatronName" />
                <span asp-validation-for="PatronName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatronEmail" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("PatronEmail")</label>
                <input asp-for="PatronEmail" value="@Model.PatronEmail" />
                <span asp-validation-for="PatronEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatronPhoneNumber" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("PatronPhoneNumber")</label>
                <input asp-for="PatronPhoneNumber" value="@Model.PatronPhoneNumber" />
                <span asp-validation-for="PatronPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Amount")</label>
                <input asp-for="Amount" value="@Model.Amount" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitiationDateTime" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("InitiationDateTime")</label>
                <input asp-for="InitiationDateTime" value="@Model.InitiationDateTime" />
                <span asp-validation-for="InitiationDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Status")</label>
                <input asp-for="Status" value="@Model.Status" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Description")</label>
                <input asp-for="Description" value="@Model.Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer.GetLocalizedHtmlString("Edit")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
        <a asp-controller="Payment" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
